@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.animated-text {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 20px;
}

.text {
  position: absolute;
  opacity: 0;
  animation: textAnimation 6s infinite;
}

.text:nth-child(1) {
  animation-delay: 0s;
}

.text:nth-child(2) {
  animation-delay: 3s;
}

@keyframes textAnimation {
  0% { opacity: 0; transform: translateY(100%); }
  10% { opacity: 1; transform: translateY(0); }
  40% { opacity: 1; }
  50% { opacity: 0; transform: translateY(-100%); }
}